<!DOCTYPE html>
<html>
    <head>
        <title>[neo]</title>
    </head>
    <body>
        <h1><a href="{% url 'index' %}"><tt>[neo]</tt></a></h1>

        {% block messages %}
        {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endblock %}
        
        {% block hello %}
        {% if session.username|length > 0 %}
        Hello, {{ session.username }}
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
        {% endblock %}
        
        {% block body %}
        {% endblock %}
    </body>
</html>
