{%  extends 'base.html' %}
{%  load humanize %}

{%  block body %}
    <h2>Revoke Device</h2>
    <form action="{% url 'user-revoke-device' device.device_id %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>Device ID</th>
                <td>{{ device.device_id }}</td>
            </tr>
            <tr>
                <th>Display Name</th>
                <td>{{ device.display_name|default:'' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{% if device.hostname %}{{ device.hostname }} ({{ device.last_seen_ip }}){% else %}{{ device.last_seen_ip }}{% endif %}</td>
            </tr>
            <tr>
                <th>Last Seen</th>
                <td>{{ device.last_seen | naturaltime }}</td>
            </tr>
            <tr>
                <th colspan="2">Please enter your password to confirm device revocation.</th>
            </tr>
            {{ form }}
        </table>
        <input type="submit" value="Revoke" />
    </form>
{% endblock %}