{% extends "base.html" %}
{% load humanize %}

{% block body %}
    <h2>Change Password</h2>
    <form action="{% url 'user-password' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ password_form }}
        </table>
        <input type="submit" value="Change Password" />
    </form>

    <h2>Sessions</h2>
    <table>
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Display Name</th>
                <th>Address</th>
                <th>Last Seen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.device_id }}</td>
                <td>{{ device.display_name|default:'' }}</td>
                <td>{% if device.hostname %}{{ device.hostname }} ({{ device.last_seen_ip }}){% else %}{{ device.last_seen_ip }}{% endif %}</td>
                <td>{{ device.last_seen | naturaltime }}</td>
                <td>
                    <a href="{% url 'user-revoke-device' device.device_id %}">Revoke</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if session.is_admin %}
    <h2>Users</h2>
    <table>
        <thead>
            <th>Name</td>
            <th>Admin</td>
            <th>Actions</td>
        </thead>
        <tbody>
            {% for user in userlist %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.admin }}</td>
                <td>
                    <a href="{% url 'user' user.name %}">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Create New User</h2>
    <form action="{% url 'create-user' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ create_user_form }}
        </table>
        <input type="submit" value="Create" />
    </form>

    <h2>Send System Notice</h2>
    <form action="{% url 'system-notice' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ system_notice_form }}
        </table>
        <input type="submit" value="Send" />
    </form>
    {% endif %}
{% endblock %}

