{% extends "base.html" %}

{% block body %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Login">
</form>
{% endblock %}
