{% extends "base.html" %}
{% load humanize %}

{% block body %}
<h2>{{ user.name }}</h2>

<h3>Sessions</h3>
<table>
    <thead>
        <tr>
            <th>Device</th>
            <th>Address</th>
            <th>User Agent</th>
            <th>Last Seen</th>
        </tr>
    </thead>
    <tbody>
        {% for session in user.sessions %}
        <tr>
            <td>{{ session.device }}</td>
            <td>{% if session.hostname %}{{ session.hostname }} ({{ session.address }}){% else %}{{ session.address }}{% endif %}</td>
            <td>{{ session.user_agent }}</td>
            <td>{{ session.last_seen | naturaltime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Password Reset</h3>
<form action="{% url 'reset-password' user.name %}" method="POST">
    {% csrf_token %}
    <table>
        {{ pwreset_form }}
    </table>
    <input type="submit" value="Set Password" />
</form>

<h3>Deletion</h3>
<form action="{% url 'user-delete' user.name %}" method="POST">
    {% csrf_token %}
    <table>
        {{ delete_user_form }}
    </table>
    <input type="submit" value="Delete User" />
</form>
{% endblock %}

